## Loading Libraries and Datasets

In [1]:
import pandas as pd
import numpy as np
from collections import defaultdict
from sklearn.metrics.pairwise import cosine_similarity
import random
from sklearn.decomposition import PCA
from sklearn.preprocessing import MultiLabelBinarizer
from scipy.spatial.distance import euclidean
import dateutil.parser

In [2]:
users_df = pd.read_csv('/Users/marlenearredondo/Downloads/archive/PP_users.csv')
users_df

,u,techniques,items,n_items,ratings,n_ratings
0,0,"[8, 0, 0, 5, 6, 0, 0, 1, 0, 9, 1, 0, 0, 0, 1, ...","[1118, 27680, 32541, 137353, 16428, 28815, 658...",31,"[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 4.0, 4.0, ...",31
1,1,"[11, 0, 0, 2, 12, 0, 0, 0, 0, 14, 5, 0, 0, 0, ...","[122140, 77036, 156817, 76957, 68818, 155600, ...",39,"[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, ...",39
2,2,"[13, 0, 0, 7, 5, 0, 1, 2, 1, 11, 0, 1, 0, 0, 1...","[168054, 87218, 35731, 1, 20475, 9039, 124834,...",27,"[3.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, ...",27
3,3,"[498, 13, 4, 218, 376, 3, 2, 33, 16, 591, 10, ...","[163193, 156352, 102888, 19914, 169438, 55772,...",1513,"[5.0, 5.0, 5.0, 5.0, 4.0, 4.0, 5.0, 5.0, 5.0, ...",1513
4,4,"[161, 1, 1, 86, 93, 0, 0, 11, 2, 141, 0, 16, 0...","[72857, 38652, 160427, 55772, 119999, 141777, ...",376,"[5.0, 5.0, 5.0, 5.0, 4.0, 4.0, 5.0, 4.0, 5.0, ...",376
...,...,...,...,...,...,...
25071,25071,"[1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...","[144172, 154054]",2,"[5.0, 5.0]",2
25072,25072,"[1, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...","[162436, 148228]",2,"[5.0, 5.0]",2
25073,25073,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[162681, 172034]",2,"[5.0, 5.0]",2
25074,25074,"[2, 0, 0, 2, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...","[157808, 159896]",2,"[5.0, 5.0]",2
25075,25075,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[166686, 157084]",2,"[4.0, 4.0]",2

In [3]:
recipes_df = pd.read_csv('/Users/marlenearredondo/Downloads/archive/PP_recipes.csv')
recipes_df

,id,i,name_tokens,ingredient_tokens,steps_tokens,techniques,calorie_level,ingredient_ids
0,424415,23,"[40480, 37229, 2911, 1019, 249, 6878, 6878, 28...","[[2911, 1019, 249, 6878], [1353], [6953], [153...","[40480, 40482, 21662, 481, 6878, 500, 246, 161...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[389, 7655, 6270, 1527, 3406]"
1,146223,96900,"[40480, 18376, 7056, 246, 1531, 2032, 40481]","[[17918], [25916], [2507, 6444], [8467, 1179],...","[40480, 40482, 729, 2525, 10906, 485, 43, 8393...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[2683, 4969, 800, 5298, 840, 2499, 6632, 7022,..."
2,312329,120056,"[40480, 21044, 16954, 8294, 556, 10837, 40481]","[[5867, 24176], [1353], [6953], [1301, 11332],...","[40480, 40482, 8240, 481, 24176, 296, 1353, 66...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...",1,"[1257, 7655, 6270, 590, 5024, 1119, 4883, 6696..."
3,74301,168258,"[40480, 10025, 31156, 40481]","[[1270, 1645, 28447], [21601], [27952, 29471, ...","[40480, 40482, 5539, 21601, 1073, 903, 2324, 4...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,"[7940, 3609, 7060, 6265, 1170, 6654, 5003, 3561]"
4,76272,109030,"[40480, 17841, 252, 782, 2373, 1641, 2373, 252...","[[1430, 11434], [1430, 17027], [1615, 23, 695,...","[40480, 40482, 14046, 1430, 11434, 488, 17027,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[3484, 6324, 7594, 243]"
...,...,...,...,...,...,...,...,...
178260,323143,76862,"[40480, 6444, 1964, 9369, 486, 569, 17551, 40481]","[[8780], [11835, 1762, 4465, 31494], [6812], [...","[40480, 40482, 729, 2525, 715, 485, 26641, 404...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,"[840, 208, 2499, 2683, 1925, 335, 1511]"
178261,149114,145962,"[40480, 17027, 24715, 974, 11877, 40481]","[[6812], [5940], [30645, 4785, 6821], [6953], ...","[40480, 40482, 729, 2525, 10906, 485, 43, 8393...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,"[2499, 4717, 1168, 6270, 6324, 7040]"
178262,34200,65066,"[40480, 12187, 11434, 1738, 2627, 40481]","[[6167, 20930, 510], [1353], [15022, 6953], [6...","[40480, 40482, 500, 246, 1719, 5024, 240, 2366...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",2,"[2378, 7655, 3219, 2320, 5168, 5319, 4189, 268..."
178263,30618,77358,"[40480, 870, 488, 1325, 519, 2220, 2417, 488, ...","[[12395, 38308, 40118], [3137, 15022], [30878,...","[40480, 40482, 562, 481, 10734, 240, 23667, 58...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[5627, 2807, 5412, 3399, 7979, 1093, 1257, 780..."
178264,263840,137160,"[40480, 30565, 12316, 1024, 40481]","[[3151, 12486], [2507, 6444], [30565], [17918]...","[40480, 40482, 729, 2525, 10906, 485, 43, 2232...","[1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,"[6473, 800, 4807, 2683, 335, 1563, 1511, 3248,..."

In [4]:
raw_recipes = pd.read_csv('/Users/marlenearredondo/Downloads/archive/RAW_recipes.csv')
raw_recipes

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8
...,...,...,...,...,...,...,...,...,...,...,...,...
231632,zydeco soup,486161,60,227978,2012-08-29,"['ham', '60-minutes-or-less', 'time-to-make', ...","[415.2, 26.0, 34.0, 26.0, 44.0, 21.0, 15.0]",7,"['heat oil in a 4-quart dutch oven', 'add cele...",this is a delicious soup that i originally fou...,"['celery', 'onion', 'green sweet pepper', 'gar...",22
231633,zydeco spice mix,493372,5,1500678,2013-01-09,"['15-minutes-or-less', 'time-to-make', 'course...","[14.8, 0.0, 2.0, 58.0, 1.0, 0.0, 1.0]",1,['mix all ingredients together thoroughly'],this spice mix will make your taste buds dance!,"['paprika', 'salt', 'garlic powder', 'onion po...",13
231634,zydeco ya ya deviled eggs,308080,40,37779,2008-06-07,"['60-minutes-or-less', 'time-to-make', 'course...","[59.2, 6.0, 2.0, 3.0, 6.0, 5.0, 0.0]",7,"['in a bowl , combine the mashed yolks and may...","deviled eggs, cajun-style","['hard-cooked eggs', 'mayonnaise', 'dijon must...",8
231635,cookies by design cookies on a stick,298512,29,506822,2008-04-15,"['30-minutes-or-less', 'time-to-make', 'course...","[188.0, 11.0, 57.0, 11.0, 7.0, 21.0, 9.0]",9,['place melted butter in a large mixing bowl a...,"i've heard of the 'cookies by design' company,...","['butter', 'eagle brand condensed milk', 'ligh...",10
231636,cookies by design sugar shortbread cookies,298509,20,506822,2008-04-15,"['30-minutes-or-less', 'time-to-make', 'course...","[174.9, 14.0, 33.0, 4.0, 4.0, 11.0, 6.0]",5,"['whip sugar and shortening in a large bowl , ...","i've heard of the 'cookies by design' company,...","['granulated sugar', 'shortening', 'eggs', 'fl...",7

In [5]:
raw_interactions = pd.read_csv('/Users/marlenearredondo/Downloads/archive/RAW_interactions.csv')
raw_interactions

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."
...,...,...,...,...,...
1132362,116593,72730,2003-12-09,0,Another approach is to start making sauce with...
1132363,583662,386618,2009-09-29,5,These were so delicious! My husband and I tru...
1132364,157126,78003,2008-06-23,5,WOW! Sometimes I don't take the time to rate ...
1132365,53932,78003,2009-01-11,4,Very good! I used regular port as well. The ...
1132366,2001868099,78003,2017-12-18,5,I am so glad I googled and found this here. Th...

In [6]:
test = pd.read_csv('/Users/marlenearredondo/Downloads/archive/interactions_test.csv')
train = pd.read_csv('/Users/marlenearredondo/Downloads/archive/interactions_train.csv')
valid = pd.read_csv('/Users/marlenearredondo/Downloads/archive/interactions_validation.csv')

## Predictive Task

In [11]:
test[:10]

   user_id  recipe_id        date  rating   u       i
0     8937      44551  2005-12-23     4.0   2  173538
1    56680     126118  2006-10-07     4.0  16  177847
2   349752     219596  2008-04-12     0.0  26   89896
3   628951      82783  2007-11-13     2.0  45  172637
4    92816     435013  2013-07-31     3.0  52  177935
5   280271     228179  2007-07-29     5.0  55  178179
6   345569     186470  2008-10-05     0.0  57  177482
7   724516     298748  2011-05-07     5.0  71  177749
8   176615     118119  2006-10-27     0.0  82  178250
9    56112     166712  2007-08-02     5.0  89  177821

## Users

In [18]:
ratings = []
userRatings = defaultdict(list)

for index, row in train.iterrows():
    user = row['user_id']
    item = row['recipe_id']
    rating = row['rating']
    ratings.append(rating)
    userRatings[user].append(rating)

globalAverage = sum(ratings) / len(ratings)

userAverage = {}
for u in userRatings:
    userAverage[u] = sum(userRatings[u]) / len(userRatings[u])

## Popular recipes

In [19]:
recipeCount = defaultdict(int)
totalRecipes = 0 

for indx, row in train.iterrows():
    recipe = row['recipe_id']
    recipeCount[recipe] += 1
    totalRecipes += 1

In [20]:
mostPopular = [(recipeCount[x], x ) for x in recipeCount]
mostPopular.sort()
mostPopular.reverse()

In [28]:
# making the usersPerRecipe and recipesPerUser
recipesPerUser = defaultdict(set)
usersPerRecipe = defaultdict(set)

for indx, row in train.iterrows():
    user = row['user_id']
    recipe = row['recipe_id']
    recipesPerUser[user].add(recipe)
    usersPerRecipe[recipe].add(user)

In [29]:
#all differnt recipes and all different users 
users = set()
recipes = set() 

for indx, row in train.iterrows(): 
    user = row['user_id']
    recipe = row['recipe_id']
    users.add(user)
    recipes.add(recipe)

In [32]:
#making validation set with 50% played , 50% unplayed random
validation = []

for indx, row in valid.iterrows():
    u = row['user_id']
    r = row['recipe_id']
    validation.append((u,r,1))
    unreciped = list(recipes - recipesPerUser[u])
    if unreciped:
        negative = random.choice(unreciped)
        validation.append((u , negative , 0))

In [ ]:
#best threshold for popularity

## Binarize ingredients

In [49]:
#reviews
maxlen = max(len(str(d['review'])) for _, d in raw_interactions.iterrows())
print(maxlen)

8587

In [51]:
#recipe description
maxlen2 = max(len(str(d['description'])) for _, d in raw_recipes.iterrows())
print(maxlen2)

6321

In [48]:
print(raw_interactions[:10])

      user_id  recipe_id        date  rating  \
0       38094      40893  2003-02-17       4
1     1293707      40893  2011-12-21       5
2        8937      44394  2002-12-01       4
3      126440      85009  2010-02-27       5
4       57222      85009  2011-10-01       5
5       52282     120345  2005-05-21       4
6      124416     120345  2011-08-06       0
7  2000192946     120345  2015-05-10       2
8       76535     134728  2005-09-02       4
9      273745     134728  2005-12-22       5

                                              review
0  Great with a salad. Cooked on top of stove for...
1  So simple, so delicious! Great for chilly fall...
2  This worked very well and is EASY.  I used not...
3  I made the Mexican topping and took it to bunk...
4  Made the cheddar bacon topping, adding a sprin...
5  very very sweet. after i waited the 2 days i b...
6  Just an observation, so I will not rate.  I fo...
7  This recipe was OVERLY too sweet.  I would sta...
8                                         Very good!
9                             Better than the real!!

In [53]:
def recipe_features(row):
    description_length = len(str(row['description'])) / 6321
    minutes = row['minutes']
    n_steps = row['n_steps']
    n_ingredients = row['n_ingredients']
    return np.array([1, description_length, minutes, n_steps, n_ingredients])

In [54]:
recipe_feature_dict = {row['id']: recipe_features(row) for _, row in raw_recipes.iterrows()}

In [56]:
def user_features(row, userRatings):
    avg_rating = np.mean(userRatings[row['ratings']])
    n_items = row['n_items']
    n_ratings = row['n_ratings']
    return np.array([1, avg_rating, n_items, n_ratings])

In [57]:
user_feature_dict = {row['u']: user_features(row, userRatings) for _, row in users_df.iterrows()}

/Users/marlenearredondo/opt/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3440: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/Users/marlenearredondo/opt/anaconda3/lib/python3.9/site-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

## Eucledian dist

In [61]:
def similarity(user_id, recipe_id):
    user_feature = user_feature_dict.get(user_id, np.zeros(4))
    recipe_feature = recipe_feature_dict.get(recipe_id, np.zeros(5))

    if len(user_feature) < len(recipe_feature):
        user_feature = np.pad(user_feature, (0, len(recipe_feature) - len(user_feature)), 'constant')
    elif len(recipe_feature) < len(user_feature):
        recipe_feature = np.pad(recipe_feature, (0, len(user_feature) - len(recipe_feature)), 'constant')
    
    return euclidean(user_feature, recipe_feature)

## FPMC

In [7]:
raw_interactions[:2]

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."

In [8]:
userIDs = {}
itemIDs = {}
interactions = []
interactionsPerUser = defaultdict(list)


for index, row in raw_interactions.iterrows():
    u = row['user_id']
    i = row['recipe_id']
    t = row['date']
    r = row['rating']
    dt = dateutil.parser.parse(t)
    t = int(dt.timestamp())

    if u not in userIDs:
        userIDs[u] = len(userIDs)
    if i not in itemIDs:
        itemIDs[i] = len(itemIDs)

    interactions.append((t, u, i, r))
    interactionsPerUser[u].append((t, i, r))

In [10]:
#interactions with previous
interactionsWithPrevious = []

for u in interactionsPerUser:
    interactionsPerUser[u].sort()
    lastItem = 'dummy'
    for (t,i,r) in interactionsPerUser[u]:
        interactionsWithPrevious.append((t,u,i,lastItem,r))
        lastItem = i

In [84]:
itemsPerUser = defaultdict(set)
for _,u,i,_ in interactions:
    itemsPerUser[u].add(i)

In [85]:
items = list(itemIDs.keys())

In [ ]:
import tensorflow as tf

In [ ]:
optimizer = tf.keras.optimizers.Adam(0.1) #learning rate 0.1